

<!-- FORMULÁRIO -->
<form [formGroup]="formulario">
    
    <!-- VALIDAÇÕES -->
    @if (formulario.get('nome').hasError('required') && formulario.get('nome').touched) {
        <p class="alert alert-warning">O campo nome precisa ser preenchido.</p>
    }

    @if (formulario.get('nome').hasError('minlength') && formulario.get('nome').touched) {
        <p class="alert alert-warning">O campo nome precisa ter pelo menos três caracteres.</p>
    }
    
    @if (formulario.get('idade').hasError('required') && formulario.get('idade').touched) {
        <p class="alert alert-warning">O campo idade precisa ser preenchido.</p>
    }
    
    @if (formulario.get('idade').hasError('min') && formulario.get('idade').touched) {
        <p class="alert alert-warning">A idade mínima é 0.</p>
    }
    
    @if (formulario.get('idade').hasError('max') && formulario.get('idade').touched) {
        <p class="alert alert-warning">A idade máxima é 120.</p>
    }

    @if (formulario.get('cidade').hasError('required') && formulario.get('cidade').touched) {
        <p class="alert alert-warning">O campo cidade precisa ser preenchido.</p>
    }

    @if (formulario.get('cidade').hasError('minlength') && formulario.get('cidade').touched) {
        <p class="alert alert-warning">O campo cidade precisa ter pelo menos três caracteres.</p>
    }

    <!-- INPUTS -->
    <input type="text"   name="nome"       placeholder="Nome"    formControlName="nome"   class="form-control">
    <input type="number" name="idade"      placeholder="Idade"   formControlName="idade"  class="form-control">
    <input type="text"   name="cidade"     placeholder="Cidade"  formControlName="cidade" class="form-control">

    <input type="button" value="Cadastrar" class="btn btn-primary" [disabled]="formulario.get('nome').hasError('required') 
    ||
    formulario.get('nome').hasError('minlength')
    ||
    formulario.get('idade').hasError('required') 
    || 
    formulario.get('nome').hasError('min') 
    ||
    formulario.get('nome').hasError('max') 
    ||
    formulario.get('cidade').hasError('required') 
    || 
    formulario.get('cidade').hasError('minlength')">

    <input type="button" value="Alterar"  *ngIf="!btnCadastrar" class="btn btn-warning">
    <input type="button" value="Remover"  *ngIf="!btnCadastrar"  class="btn btn-danger">
    <input type="button" value="Cancelar" *ngIf="!btnCadastrar" class="btn btn-secondary">

   
</form>

<table class="table">

    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Idade</th>
            <th>Cidade</th>
            <th>Selecionar</th>
        </tr>
    </thead>

    <tbody></tbody>
</table>