
<!-- FORMULÁRIO -->
<form [formGroup]="formulario">
    
    <!-- VALIDAÇÕES -->
    <!-- Verifica se o campo "nome" está vazio e foi tocado, exibe uma mensagem de aviso -->
    @if (formulario.get('nome').hasError('required') && formulario.get('nome').touched) {
        <p class="alert alert-warning">O campo nome precisa ser preenchido.</p>
    }

    <!-- Verifica se o campo "nome" tem menos de três caracteres e foi tocado, exibe uma mensagem de aviso -->
    @if (formulario.get('nome').hasError('minlength') && formulario.get('nome').touched) {
        <p class="alert alert-warning">O campo nome precisa ter pelo menos três caracteres.</p>
    }
    
    <!-- Verifica se o campo "idade" está vazio e foi tocado, exibe uma mensagem de aviso -->
    @if (formulario.get('idade').hasError('required') && formulario.get('idade').touched) {
        <p class="alert alert-warning">O campo idade precisa ser preenchido.</p>
    }
    
    <!-- Verifica se o valor do campo "idade" é menor que zero e foi tocado, exibe uma mensagem de aviso -->
    @if (formulario.get('idade').hasError('min') && formulario.get('idade').touched) {
        <p class="alert alert-warning">A idade mínima é 0.</p>
    }
    
    <!-- Verifica se o valor do campo "idade" é maior que 120 e foi tocado, exibe uma mensagem de aviso -->
    @if (formulario.get('idade').hasError('max') && formulario.get('idade').touched) {
        <p class="alert alert-warning">A idade máxima é 120.</p>
    }

    <!-- Verifica se o campo "cidade" está vazio e foi tocado, exibe uma mensagem de aviso -->
    @if (formulario.get('cidade').hasError('required') && formulario.get('cidade').touched) {
        <p class="alert alert-warning">O campo cidade precisa ser preenchido.</p>
    }

    <!-- Verifica se o campo "cidade" tem menos de três caracteres e foi tocado, exibe uma mensagem de aviso -->
    @if (formulario.get('cidade').hasError('minlength') && formulario.get('cidade').touched) {
        <p class="alert alert-warning">O campo cidade precisa ter pelo menos três caracteres.</p>
    }

    <!-- INPUTS -->
    <!-- Campo de entrada para o nome -->
    
    <input type="text"   name="nome"       placeholder="Nome"    formControlName="nome"   class="form-control">

    <!-- Campo de entrada para a idade -->
    <input type="number" name="idade"      placeholder="Idade"   formControlName="idade"  class="form-control">
    <!-- Campo de entrada para a cidade -->
    <input type="text"   name="cidade"     placeholder="Cidade"  formControlName="cidade" class="form-control">

    <!-- Botão para cadastrar -->
    <input type="button" value="Cadastrar" (click)="cadastrar()" class="btn btn-primary" [disabled]="formulario.get('nome').hasError('required') 
    ||
    formulario.get('nome').hasError('minlength')
    ||
    formulario.get('idade').hasError('required') 
    || 
    formulario.get('nome').hasError('min') 
    ||
    formulario.get('nome').hasError('max') 
    ||
    formulario.get('cidade').hasError('required') 
    || 
    formulario.get('cidade').hasError('minlength')">

    <!-- Botão para alterar (visível apenas quando não estiver na página de cadastro) -->
    <input type="button" value="Alterar" (click)="alterar()" *ngIf="!btnCadastrar" class="btn btn-warning">
    <!-- Botão para remover (visível apenas quando não estiver na página de cadastro) -->
    <input type="button" value="Remover" (click)="remover()" *ngIf="!btnCadastrar"  class="btn btn-danger">
    <!-- Botão para cancelar (visível apenas quando não estiver na página de cadastro) -->
    <input type="button" value="Cancelar" (click)="cancelar()"  *ngIf="!btnCadastrar" class="btn btn-secondary">

</form>


<table class="table">

    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Idade</th>
            <th>Cidade</th>
            <th>Selecionar</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let v of vetor; index as indice">
            <td>{{indice + 1}}</td>
            <td>{{v.nome}}</td>
            <td>{{v.idade}}</td>
            <td>{{v.cidade}}</td>
            <td><button class="btn btn-primary" (click)="selecionar(indice)">Selecionar</button></td>
        </tr>
    </tbody>
</table>