<p>{{formulario.value.nome}}</p>
<p>{{formulario.value.idade}}</p>
<p>{{formulario.value.cidade}}</p>


<form [formGroup]="formulario">
    <input type="text"  formControlName="nome"  placeholder="Nome" class="form-control">
    <input type="number" formControlName="idade" placeholder="Idade" class="form-control">
    <input type="text" formControlName="cidade"  placeholder="cidade" class="form-control">

    <input type="button" value="Cadastrar" class="btn btn-primary">
    <input type="button" value="Alterar" class="btn btn-warning">
    <input type="button" value="Remover" class="btn btn-danger">
    <input type="button" value="Cancelar" class="btn btn-secondary">

</form>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Idade</th>
            <th>Cidade</th>
            <th>Selecionar</th>
        </tr>
    </thead>

    <tbody></tbody>
</table>